@import "../reset.css";

body {
	height: 3700px;
}

/* header */

.navbar {
	position: fixed;
	display: flex;
	width: 100%;
	height: 50px;
	background-color: aqua;
	z-index: 1;
}

.homepage-name {
	font-size: 30px;
	margin: 10px 15px 15px 40px;
	text-decoration: none;
}

.text-navigation {
	font-size: 15px;
	margin: 18px 0px 0px 50px;
}

.text-navigation a {
	margin-right: 30px;
	text-decoration: none;
}

.icon-navigation {
	font-size: 15px;
	margin-top: 18px;
	margin-left: 65%;
}

.icon-navigation a {
	margin-right: 35px;
}

.products-detail {
	position: absolute;
	/* position: fixed; */
	width: 100px;
	height: 100px;
	background-color: aquamarine;
	text-align: center;
	margin-top: 50px;
	margin-left: 140px;
	display: none;
}

.products-detail li {
	margin-top: 12px;
}

.products-detail li a {
	text-decoration: none;
}

/* body */

.main-content-box {
	position: absolute;
	width: 80%;
	height: 3500px;
	top: 150px;
	left: 10%;
	/* background-color: blue; */
}

.left-content {
	float: left;
	width: 120px;
	height: 360px;
	margin-right: 5%;
	background-color: aquamarine;
}

.middle-content {
	float: left;
	width: 550px;
	height: 3100px;
	/* background-color: blueviolet; */
}

.content-top-data {
	width: 100%;
	height: 54%;
	/* background-color: antiquewhite; */
}
.content-top-data img {
	width: 100%;
}

.content-product-detail {
	width: 100%;
	height: 44%;
	/* background-color: #ccc; */
}

.content-product-detail h4 {
	text-align: center;
	font-size: 18px;
	margin: 10px;
}

.content-middle-data img {
	width: 100%;
}

.content-middle-data h5 {
	padding: 20px;
	font-size: 18px;
}

.content-middle-data p {
	padding: 20px;
	font-size: 15px;
	line-height: 20px;
}

.right-content {
	float: right;
	width: 550px;
	height: 80%;
	background-color: #fff;
}

.top-content {
	width: 100%;
	height: 200px;
	/* background-color: beige; */
}

.product-name {
	width: 100%;
	height: 100px;
	color: #000;
	/* background-color: #dbdada; */
	font-size: 25px;
}

.product-price {
	width: 100%;
	height: 100px;
	/* background-color: aliceblue; */
	font-size: 20px;
}

.count-container {
	display: flex;
	width: 100%;
	height: 60px;
	/* background-color: burlywood; */
	align-items: center;
}

.count-container p {
	font-size: 15px;
}

.count-button {
	display: flex;
	height: 50px;
	margin-left: 60px;
	border: 1px solid #ccc;
}

.count-button button {
	border: none;
	width: 30px;
	background-color: #fff;
	cursor: pointer;
}

.count-button input {
	border: none;
	width: 60px;
	font-size: 20px;
	color: #2a2a2a;
	text-align: center;
}

.count-hint {
	width: 100%;
	height: 30px;
	/* background-color: aliceblue; */
	padding-top: 10px;
}

.cart-container {
	width: 100%;
	height: 80px;
	/* background-color: #000; */
}

.cart-add-button {
	width: 70%;
	height: 60px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	letter-spacing: 0.1em;
	border: none;
	cursor: pointer;
	background-color: #ccc;
}

.cart-add-button:hover {
	background-color: #565656;
	transition: 0.5s;
}

.specifications-container {
	display: flex;
	width: 100%;
	height: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid #ccc;
	/* background-color: bisque; */
	align-items: center;
	cursor: pointer;
}

.specifications-container i {
	margin-left: 400px;
}

.inner-contents1 {
	width: 100%;
	height: 100px;
	background-color: #fff;
	display: none;
}

.inner-text1 {
	padding-top: 40px;
	letter-spacing: 0.1em;
}

.handling-precautions-container {
	display: flex;
	width: 100%;
	height: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	/* background-color: beige; */
	align-items: center;
	cursor: pointer;
}

.handling-precautions-container i {
	margin-left: 335px;
}

.inner-contents2 {
	width: 100%;
	height: 300px;
	border-bottom: 2px solid #ccc;
	background-color: #fff;
	display: none;
}

.inner-text2 {
	padding-top: 40px;
	letter-spacing: 0.1em;
}
