@import "../../assets/styles/reset.css";

* {
	box-sizing: border-box;
	margin: 0px;
}

body {
	background-image: url("../../assets/img/login-img.jpeg");
	background-size: cover;
	background-position: center;
}
.container {
	width: 100%;    
	height: 800px;
	display: flex;
	justify-content: center;
}

.loginBox{
	width: 420px;
	margin-top: 100px;
	
	display: flex;
	flex-direction: column;
}

.field {
	width: 100%;
}

.input {
	width: 100%;
	height: 40px;
	border-style: none;
	margin-bottom: 4px;
}

.input::placeholder {
	text-indent: 5px;
}

#loginButton {
	width: 100%;
	height: 60px;
	margin-top: 10px;
	font-size: 15px;
	background-color: gray;
	color: white;
	border-style: none;
}

#loginButton:hover {
	background-color: rgb(102, 102, 102);
}

#register {
	text-decoration: none;
	text-align: right;
	text-decoration-line: underline;
	font-size: 20px;
	font-weight: bolder;
}

a {
	color: gray;
	font-size: small;
}

a:hover {
	color: rgb(102, 102, 102);
}

p {
	margin-bottom: 10px;
}