@import "../../assets/styles/reset.css";

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-image: url(../../assets/img/register-img.jpg);
    background-size: auto 100%;
    background-position: center;
}

.container {
    width: 100%;
    height: 850px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 40px;
}

.registerBox {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field {
    width: 100%;
    height: 95px;
    margin-bottom: 10px;
}
.inputbox {
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #D2D2D2;
    padding: 18px;
}

.errorType {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 5px;
    display: none;
}

.control {
    width: 100%
}

.label {
    font-weight: bold;
}

#registerButton {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
    background-color: gray;
    color: white;
}

#registerButton:hover {
    background-color: rgb(102, 102, 102)
}