* {
    box-sizing: border-box;
    margin: 0px;
}


.nav-bar {
    width: 100%;
    height: 80px;
    background-color: gray;
}

.container {
    display: flex;
    justify-content: center;

    width: 100%;    
    height: 800px;

    background-image: url("../img/login-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
}

.loginBox{
    width: 420px;
    display: flex;
    flex-direction: column;

    margin-top: 100px;
}

.field {
    width: 100%;
}

.input {
    width: 100%;
    height: 40px;
    border-style: none;
    margin-bottom: 4px;
}

#loginButton {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    font-size: 15px;
    color: white;
    background-color: gray;

    border-style: none;
}

#loginButton:hover {
    background-color: rgb(102, 102, 102);
}

#register {
    text-decoration: none;
    text-align: right;
    text-decoration-line: underline;
    font-size: 20px;
    font-weight: bolder;
}

a {
    color: gray;
    font-size: small;
}

a:hover {
    color: rgb(102, 102, 102);
}

p {
    margin-bottom: 10px;
}