@import "reset.css";

body {
	height: 3700px;
}

/* header */

.header {
	position: fixed;
	display: flex;
	width: 100%;
	height: 50px;
	background-color: aqua;
	z-index: 1;
}

.homepage-name {
	font-size: 30px;
	margin: 10px 15px 15px 40px;
	text-decoration: none;
}

.text-navigation {
	font-size: 15px;
	margin: 18px 0px 0px 50px;
}

.text-navigation a {
	margin-right: 30px;
	text-decoration: none;
}

.icon-navigation {
	font-size: 15px;
	margin-top: 18px;
	margin-left: 65%;
}

.icon-navigation a {
	margin-right: 35px;
}

.products-detail {
	position: absolute;
	/* position: fixed; */
	width: 100px;
	height: 100px;
	background-color: aquamarine;
	text-align: center;
	margin-top: 50px;
	margin-left: 140px;
	/* display: none; */
}

.products-detail li {
	margin-top: 12px;
}

.products-detail li a {
	text-decoration: none;
}

/* main */

.section-title {
	width: 100%;
	height: 200px;
	border-bottom: 1px solid #919090;
}

.section-title h1 {
	font-size: 20px;
	color: #555;
	padding-top: 160px;
	margin-left: 10%;
	margin-right: 10%;
}

.section-menu {
	display: flex;
	font-size: 15px;
	color: #555;
	margin-top: 25px;
	margin-left: 10%;
	margin-right: 10%;
}

.item-count {
	font-weight: bold;
	margin-right: 10px;
}

.item-filter-box {
	display: flex;
	margin-left: 30px;
	cursor: pointer;
}

.item-filter-box p {
	margin-left: 30px;
}

.item-sorting-title {
	margin-left: 72%;
	cursor: pointer;
}

.item-area {
	width: 75%;
	height: 3000px;
	/* background-color: #555; */
	margin-top: 5%;
	margin-left: 12%;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-content: flex-start;
	align-items: center;
}

.item-box {
	width: 13%;
	height: 220px;
	padding: 25px;
	margin-left: 30px;
	margin-top: 20px;
	/* background-color: aqua; */
	/* border: 1px solid #000; */
	text-align: left;
	text-decoration: none;
	color: #000;
}

.item-image {
	width: 100%;
	height: 75%;
	font-size: 13px;
}

.item-name {
	font-size: 15px;
	height: 30px;
}

.item-price {
	/* position: absolute; */
	font-size: 12px;
	margin-top: 20px;
	display: flex;
}

/* item-color-menu */

.item-color-menu {
	display: none;
	position: absolute;
	text-align: left;
	flex-wrap: wrap;
	width: 220px;
	height: 240px;
	margin-left: 120px;
	margin-top: 30px;
	padding: 20px 20px 10px 20px;
	background-color: aliceblue;
	font-size: 20px;
	border: 1px solid #000;
	box-shadow: 3px 3px 15px #666;
}

.item-color-menu li {
	width: 50%;
	height: 20px;
	cursor: pointer;
	color: #ccc;
	box-sizing: border-box;
	padding: 5px;
}

.item-color-menu li input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid #ccc;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
}
.item-color-menu li input:checked {
	border: 1px solid black;
	padding: 1px;
}

.color-clear input {
	background-color: none;
}
.color-white input {
	background-color: #fff;
}
.color-black input {
	background-color: black;
}
.color-gray input {
	background-color: gray;
}
.color-brown input {
	background-color: brown;
}
.color-beige input {
	background-color: beige;
}
.color-green input {
	background-color: green;
}
.color-blue input {
	background-color: blue;
}
.color-yellow input {
	background-color: yellow;
}
.color-pink input {
	background-color: pink;
}
.color-red input {
	background-color: red;
}
.color-orange input {
	background-color: orange;
}

.item-color-menu-button {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	cursor: pointer;
}

/* item-stock-menu */

.item-stock-menu {
	display: none;
	position: absolute;
	width: 220px;
	height: 100px;
	margin-top: 30px;
	margin-left: 190px;
	padding: 20px 20px 10px 20px;
	border: 1px solid #000;
	box-shadow: 3px 3px 15px #666;
	background-color: aliceblue;
}

.stock-check {
	margin-top: 10px;
	font-size: 20px;
}

.stock-check input {
	/* appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none; */
	width: 15px;
	height: 15px;
	border: 1px solid #ccc;
	outline: none;
	cursor: pointer;
}

.stock-check-button {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	cursor: pointer;
}

/* item-sorting-menu */

.item-sorting-menu {
	display: none;
	position: absolute;
	width: 220px;
	height: 150px;
	margin-top: 30px;
	right: 12%;
	padding: 20px 20px 10px 20px;
	border: 1px solid #000;
	box-shadow: 3px 3px 15px #666;
	background-color: aliceblue;
}
/*  */
.item-sorting-menu li {
	margin-bottom: 20px;
}

.item-sorting-menu input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid #ccc;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
}

.item-sorting-menu input:checked {
	border: 1px solid #000;
	background: #ccc;
}
