/* navbar-menu의 마진 모두 20px 늘리기 */
.navbar-menu {
  margin: 20px;
}

/*navbar-item 간 거리 13px만큼 늘리기 */
.navbar-item {
  margin-right: 13px;
}

/* icon-button 간 거리 15px만큼 늘리기 */
.icon-button {
  margin-right: 15px;
}


/*---------- 여기서부터 main화면 slider 관련 ----------*/
.slider-container {
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 700px; /* adjust to desired height */
}

.slider {
  display: flex;
  width: 300%;
  height: 100%;
}

.slider img {
  width: 33.33%;
  height: 100%;
  object-fit: cover;
}

.dots-container {
  position: absolute;
  bottom: 20px;
  right: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
}

.active {
  background-color: #555;
}
/*---------- 여기까지 main화면 slider 관련 ----------*/