/* 장바구니 주문서 공통 */
.od_prd_list .td_chk {}
.od_prd_list .td_prd {border-left:0;position:relative;padding-left:120px;min-height:100px}
.od_prd_list .td_prd .sod_img {position:absolute;top:25px;left:20px}
.od_prd_list .td_prd .sod_name {min-height:80px}
.od_prd_list .td_prd .prd_name {font-size:1.4em}
.od_prd_list .total_prc {color:#000;font-weight:bold;font-size:1.4em}

.sod_opt {margin:5px 0}
.sod_opt ul {display:inline-block;margin:0;padding:0;list-style:none}
.sod_opt li {color:#000;padding:3px 0;line-height:1.3em}
.sod_opt li:before {content:"옵션";display:inline-block;margin:1px 5px 2px 0;padding:3px;border-radius:3px;background:#e2eaf6;line-height:1em;color:#3a8afd}
.sod_option_btn .mod_options {height:30px;margin:5px 0 0;padding:0 5px;border:1px solid #d4d6db;color:#606060;background:#fff;border-radius:3px}
.cp_btn {padding:0 10px;border:1px solid #d4d6db;color:#3a8afd;background:#fff;height:26px;border-radius:3px}
.cp_cancel {padding:0 10px;border:1px solid #aaa;color:#666;background:#fff;height:26px;border-radius:3px}

/* 장바구니 */
#sod_bsk {margin-bottom:30px}
.btn_cart_del {padding:20px 0;border-bottom:1px solid #ccd2d9}
.btn_cart_del button {height:30px;padding:0 10px;border:1px solid #d4d6db;border-radius:5px;background:#fff;color:#666}
#sod_bsk_list {position:relative}
#sod_bsk #sod_bsk_tot {border:1px solid #212a37;margin:20px 0}
#sod_bsk #sod_bsk_tot ul:after {display:block;visibility:hidden;clear:both;content:""}
#sod_bsk #sod_bsk_tot li {float:left;width:33.333%;background:#4a505a;color:#fff;border-left:1px solid #212a37;text-align:right;padding:25px;font-size:1.167em}
#sod_bsk #sod_bsk_tot li:first-child {border:0}
#sod_bsk #sod_bsk_tot li span {display:inline-block;float:left}
#sod_bsk #sod_bsk_tot .sod_bsk_cnt {width:33.335%;background:#212a37}
#sod_bsk_act {text-align:center;margin-bottom:30px}
#sod_bsk_act .btn_submit {height:50px;padding:0 10px;width:160px;font-weight:bold;font-size:1.25em}
#sod_bsk_act .btn01 {height:50px;line-height:50px;padding:0 10px;width:160px;font-weight:bold;font-size:1.25em}
#sod_bsk_act p {margin:0 0 10px}


/* 장바구니 선택사항수정 */
#sod_bsk_list form {display:block;}




#sod_bsk_list #mod_option_frm {z-index:10000;position:fixed;top:50%;left:50%;width:100%;max-width:340px;height:auto !important;height:500px;max-height:500px;margin-left:-150px;
margin-top:-200px;border:1px solid #dde7e9;border-radius:3px;background:#fff;overflow-y:auto;overflow-x:inherit}
#sod_bsk_list .mod_option_bg {content:"";position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.1);display:block;z-index:9999}
#mod_option_frm h2 {border-bottom:1px solid #e8e8e8;padding:0 20px;line-height:50px;font-size:1.25em}

.option_wr {padding:20px 20px 0}
.option_wr h3 {font-size:1.167em;margin-bottom:10px}
.option_wr .get_item_options,
.option_wr .get_item_supply {margin-bottom:10px}
.option_wr label {display:block;margin:10px 0 5px}
.option_wr select {width:100%;border:1px solid #d4d4d4;height:48px}

#sit_opt_added {margin:0;padding:0;border-bottom:0;list-style:none}
#sit_opt_added li {padding:10px 15px;background:#f9f9f9;border:1px solid #e6e9ed;margin:10px 0;position:relative}
#sit_opt_added li:after {display:block;visibility:hidden;clear:both;content:""}
#sit_opt_added li .opt_name {line-height:28px;font-weight:bold}
#sit_opt_added li .opt_count {}
#sit_opt_added button {float:left;width:30px;height:30px;border:1px solid #bdc9dc;border-radius:0;background:#fff;color:#666;font-size:0.92em}
#sit_opt_added button:hover {color:#000}
#sit_opt_added .num_input {float:left;border:0;height:30px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;text-align:center}
#sit_opt_added .sit_opt_del {position:absolute;right:0;top:0;font-size:15px;border:0;border-left:1px solid #e6e9ed;border-bottom:1px solid #e6e9ed}
#sit_opt_added .sit_opt_del:hover {color:#be334a}
#sit_opt_added .sit_opt_prc {display:block;float:right;width:150px;padding:0 3px;text-align:right;line-height:30px;font-size:1.183em;font-weight:bold}

#mod_option_frm #sit_sel_option {margin:20px 20px 10px}
#mod_option_frm #sit_tot_price {float:left;display:inline-block;margin:0 20px 20px}
#mod_option_frm #sit_opt_added {}
#mod_option_frm .btn_confirm {float:right;display:inline-block;margin:0 20px 20px;background:yellow}
#mod_option_frm .btn_confirm .btn_submit {width:100px;height:40px;font-size:1.167em;font-weight:bold;cursor:pointer}
#mod_option_frm .btn_confirm .btn_close {position:absolute;top:0;right:0;width:50px;height:50px;border:0;background:none;font-size:1.25em;border-radius:0}
#mod_option_frm .btn_confirm .btn_close:hover {background:#f3f3f3}


.btn_submit {border:0;background:#3a8afd;color:#fff;cursor:pointer;border-radius:3px}
.btn_submit:hover {background:#2375eb}
.btn_close {border:1px solid #dcdcdc;cursor:pointer;border-radius:3px;background:#fff}
a.btn_close {text-align:center;line-height:50px}


/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;width:0;height:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
