.section-cart .section__empty {
  line-height: 2; }

.fullscreen-slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: auto;
  font-family: Baskerville;
  letter-spacing: .8px;
  line-height: 1;
  color: white;
  font-weight: 400;
  width: 85%;
  text-align: center; }
  .fullscreen-slider-text span {
    display: block; }
  @media screen and (min-width: 767px) {
    .fullscreen-slider-text .main-text {
      font-size: 30px; } }
  @media screen and (max-width: 768px) {
    .fullscreen-slider-text .main-text {
      font-size: 20px; } }
  .fullscreen-slider-text .secondary-text {
    font-size: 14px;
    line-height: 1.9; }

@media screen and (min-width: 768px) {
  .view-all-container {
    float: right;
    padding-right: 10px; } }
@media screen and (max-width: 767px) {
  .view-all-container {
    width: 4.5em;
    margin: 0 auto; } }
.view-all-container a {
  display: block;
  margin: 20px 0;
  padding: 10px;
  color: #989898;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: .2s ease-in-out;
  position: relative; }
  .view-all-container a:after {
    content: "\E920";
    font-family: NODE-icon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    width: 12px;
    height: 12px;
    color: #989898;
    font-size: 12px;
    transform: translateY(-50%);
    position: absolute;
    right: 0;
    top: 50%; }
  @media screen and (min-width: 768px) {
    .view-all-container a {
      width: 130px; } }
.view-all-container a:hover {
  color: #414040; }
.view-all-container a.view-all-link-journals {
  display: block;
  margin: 20px 0;
  padding: 10px;
  background-color: #f7f7f9;
  color: #727272;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: .2s ease-in-out;
  position: relative; }
  .view-all-container a.view-all-link-journals:after {
    content: "\E920";
    font-family: NODE-icon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    width: 12px;
    height: 12px;
    color: #989898;
    font-size: 12px;
    transform: translateY(-50%);
    position: absolute;
    right: 0;
    top: 50%; }
  @media screen and (min-width: 768px) {
    .view-all-container a.view-all-link-journals {
      width: 130px; } }
.view-all-container a.view-all-link-journals:hover {
  color: #414040; }

/* adding shade to the brand collection key visuals */
@media screen and (max-width: 767px) {
  .intro.intro-brand .intro__image {
    height: 85vh; } }

/* fix the cap in under the header menu*/
.template-collection {
  padding-top: 57px; }
  @media screen and (max-width: 767px) {
    .template-collection {
      padding-top: 45px; }
      .template-collection::before {
        background-size: 176vh !important; } }

/* no pointer for nav headings*/
.header .nav .menu > li > .sub-menu-wrapper > .sub-menu > li > .sub-menu-wrapper > .sub-menu > li > a {
  cursor: default !important; }

@media only screen and (max-width: 767px) {
  .articles > li.article > a {
    padding: 20px 32px 15px 14px; } }

@media only screen and (max-width: 767px) {
  .intro.intro-brand .intro__image {
    background-attachment: initial; } }

.section-message .section__title {
  display: block; }
  @media screen and (min-width: 768px) {
    .section-message .section__title {
      width: 100%; }
      .section-message .section__title p:first-child {
        font-size: 24px;
        line-height: 3.25; }
      .section-message .section__title p {
        font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    .section-message .section__title {
      width: 14.5em; }
      .section-message .section__title p:first-child {
        font-size: 20px;
        line-height: 2;
        margin-bottom: 5px; }
      .section-message .section__title p {
        line-height: 1.6;
        font-size: 14px; } }

.slider__slide_image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    .slider__slide_image {
      height: 490px; } }
  @media screen and (max-width: 767px) {
    .slider__slide_image {
      height: 290px; } }

@media only screen and (max-width: 767px) {
  .section-articles .article__content .article__title {
    max-height: unset; } }

/* CSS to make collections main image fixed even on mobile */
.template-collection {
  height: 0;
  background-color: transparent; }
  .template-collection:before {
    content: " ";
    display: block;
    position: fixed;
    left: 0;
    top: -2px;
    width: 100%;
    height: 100vh;
    z-index: -10;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

.section-collection, .section-colors {
  background-color: white; }
  .section-collection.section-intro, .section-colors.section-intro {
    background-color: transparent; }

.footer {
  background-color: white;
  color: #989898; }

/* END css for fixed image */
.section-fullscreen .slider .slider__slide-image:before {
  content: '';
  /*background-color: rgba(0,0,0,0.2);*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.template-blog .section-blog.section-news {
  padding: 0; }
  .template-blog .section-blog.section-news .shell {
    max-width: 1020px;
    width: 100%;
    padding: 0; }
    .template-blog .section-blog.section-news .shell .section__title {
      font-weight: normal; }
    @media screen and (max-width: 767px) {
      .template-blog .section-blog.section-news .shell .section__head {
        padding: 30px 15px 0; } }
    @media screen and (max-width: 767px) {
      .template-blog .section-blog.section-news .shell .section__head .nav-categories {
        margin: 25px auto 15px; } }
    @media screen and (max-width: 767px) {
      .template-blog .section-blog.section-news .shell .section__body {
        padding: 0 15px; } }
    .template-blog .section-blog.section-news .shell .section__body .articles .article {
      display: block !important; }
      @media screen and (min-width: 768px) {
        .template-blog .section-blog.section-news .shell .section__body .articles .article a {
          padding: 18px 40px 18px 18px; } }
      @media screen and (max-width: 767px) {
        .template-blog .section-blog.section-news .shell .section__body .articles .article a {
          height: 87px;
          padding: 15px 36px 15px 14px; } }
      @media screen and (max-width: 767px) {
        .template-blog .section-blog.section-news .shell .section__body .articles .article .article__title {
          padding-top: 3px; } }

@media screen and (min-height: 768px) {
  .intro.intro-brand .intro__title {
    font-size: 30px; } }
@media screen and (max-height: 767px) {
  .intro.intro-brand .intro__title {
    font-size: 24px;
    width: 100%; } }

@media screen and (max-width: 767px) {
  .banner_collection {
    border-top: 1px solid #e3e3e6;
    padding-top: 50px !important; }
    .banner_collection .product__collections a + a {
      margin-top: -30px; } }

.mark_required {
  color: #d9534f;
  border: 1px solid #d9534f;
  background-color: #f7f7f9;
  font-size: 12px;
  margin-left: 5px; }

.mark_optional {
  border: 1px solid #c7c7c7;
  color: #c7c7c7;
  font-size: 12px;
  margin-left: 5px; }

.form__target_name {
  margin-top: 25px; }

#contact_form .form__select ul {
  margin-top: 20px;
  margin-bottom: 40px; }

#contact_form .form__select ul:last-of-type {
  margin-bottom: 15px; }

#contact_form .form__select li {
  margin-top: 10px !important; }

#ContactFormMessage {
  height: auto; }

.full-ftr[class^=template-] {
  padding-top: 88px !important; }
  @media only screen and (max-width: 1024px) {
    .full-ftr[class^=template-] {
      padding-top: 77px !important; } }

@media screen and (max-width: 768px) {
  .product__inner-secondary .slider-product-details {
    border: 0; }
  .product__inner-secondary .page_num {
    display: none !important; } }

/* cookie bot*/
a#CybotCookiebotDialogBodyLevelButtonAccept {
  background-color: #c7c7c7 !important;
  border: 1px solid #c7c7c7 !important; }

input[type=checkbox].CybotCookiebotDialogBodyLevelButton:checked + label {
  background-image: url(https://cdn.shopify.com/s/files/1/0087/4073/2986/files/editable_click.png) !important; }