@import "../../assets/styles/reset.css";

* {
	box-sizing: border-box;
	margin: 0px;
}

body {
	background-image: url("../../assets/img/user-img.jpg");
	background-size: cover;
	background-position: center;
}

.container {
	display: flex;
	width: 100%;    
	height: 850px;
}

.container-user {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	margin-top: 20px;
}

.container-user p {
	font-size: 20px;
}

.user-buttons {
	display: flex;
	align-self: flex-end;
}
.user-buttons ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.user-buttons li {
	margin: 0 5px;
	border: solid 1px gray;
	padding: 2px;
	border-radius: 2px;
}

.user-buttons li:hover {
	background-color: rgba(128, 128, 128, 0.747);
}

.user-buttons a {
	color: #4a4a4a;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	padding: 1px 3px;
}

.userProfile {
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	opacity: 0.9;
	border-radius: 5px;
	margin: 10px 0 50px 0;
}

.userProfile-userName {
	font-size: 22px;
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px solid gray;
}

.userProfile-userInfo {
	padding: 10px;
	font-size: 18px;
}

.userProfile-userInfo table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.tableList {
	width: 150px;
	font-weight: bold;
}

.userProfile-userInfo th, td {
	padding: 10px;
	text-align: left;
}

.ordered {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

.ordered table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}
  
.ordered th, .ordered td {
	padding: 12px;
	text-align: center;
}
  
.ordered th {
	background-color: rgba(128, 128, 128, 0.658);
	
	color: #fff;
} 

.ordered td {
	height: 80px;
	border-bottom: solid 1px rgba(128, 128, 128, 0.562);
}

.ordered tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.11);
}

.ordered tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.301);
}