/* navbar-menu의 마진 모두 20px 늘리기 */
.navbar-menu {
    margin: 20px;
    /* background-color: #f3f3f0ea; */
}
  
/*navbar-item 간 거리 13px만큼 늘리기 */
.navbar-item {
    margin-right: 13px;
}

/* icon-button 간 거리 15px만큼 늘리기 */
.icon-button {
    margin-right: 15px;
}