/*--slider --*/
.slider-container {
  position: relative;
  overflow: hidden;
  width: 95%;
  height: 700px; 
}
.slider {
  display: flex;
  width: 300%;
  height: 100%;
}
.slider img {
  width: 33.33%;
  height: 100%;
  object-fit: cover;
}
.slider img:hover {
  opacity: 0.85;
  transition: opacity 1.5s ease-out;
}
.dots-container {
  position: absolute;
  top: 50%;
  bottom: 5%;
  right: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
}
.active {
  background-color: #555;
}


.container.is-fullhd {
  position: relative;
}
.container.is-widescreen {
  position: relative;
  left: 0;
  right: 0;
  max-width: 1920px;
}

.video-container-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 230%);
  text-align: center;
  color: white;
}

.video-container-text {
  color: white;
  text-align: center;
  font-size: 35px;
  letter-spacing: 3.8px;
  line-height: 56px;
  font-family: 'Noto Sans KR', serif;
}
