.navbar-menu {
	margin: 10px;
	/* background-color: #f3f3f0ea; */
}

.navbar-item {
	margin-left: 15px;
	margin-right: 13px;
}

.navbar-end {
	margin-right: 15px;
}

.navbar-icon {
	display: flex;
	align-items: center;
}

.icon-button {
	margin-right: 20px;
	justify-content: flex-start;
}

/* navbar menu */
.navbar-start {
	display: block;
	margin: 0.5rem 0.5rem;
	padding: 0.5em 1em;
	border: 0.25rem solid #fff;
	color: #fff;
	background-color: #22222200;
	font-size: 1rem;
	cursor: pointer;
	transition: 250ms;
	border-radius: 1em;
}

/* @media (min-width: 40rem) {    
  button {
      display: none;
  }
} */

/* Menu */

.navbar-menu {
	--color-menu-dark: #222;
	display: none;
	flex-direction: column;
	position: relative;
}

@media (min-width: 40rem) {
	.navbar-menu {
		display: flex;
		flex-direction: row;
	}
}

.navbar-menu.activated {
	display: flex;
}

/* Menu button */
.navbar-item {
	padding: 0.75em 1em;
	cursor: pointer;
	text-align: center;
	flex: 1 0 auto;
	position: relative;
}

.navbar-item:hover {
	background-color: #e9e7e7;
}

@media (min-width: 40rem) {
	.navbar-item--arrow {
		position: relative;
	}

	.navbar-item--arrow::before {
		content: "▼";
		color: #333;
		position: absolute;
		left: 50%;
		bottom: -5px;
		transform: scale(0.7, 0.6) translate(-50%);
	}

	.navbar-item--arrow:hover::before {
		display: none;
	}
}

/* Dropdown menu */
.dropdown-container {
	width: 460%;
	display: none;
	top: 1.8rem;
	margin-top: 1rem;
	position: relative;
	box-shadow: 0 0 2rem #222;
}

.dropdown-container::before {
	content: "▼";
	transform: scale(0.7);
	position: absolute;
	color: #fff;
	top: -2.5rem;
	left: 0;
	background-color: #444;
	border-radius: 100%;
	padding: 0.25em 0.55em;
	box-shadow: 0 0 2rem #222;
}

/* 화면 너비가 40rem 이상일 때 드롭다운 컨테이너의 스타일을 변경*/
@media (min-width: 40rem) {
	.dropdown-container {
		display: block;
		position: absolute;
		left: 0;
		box-shadow: none;
		pointer-events: none;
		overflow: hidden;
		margin-top: 0.75rem;
		border-radius: 0 0 0.25em 0.25em;
	}

	.dropdown-container::before {
		display: none;
	}
}

/* Dropdown menu 블록 설정*/

.dropdown-container > ul {
	/* 이 색상톤 잘 활용    */
	background-color: #e9e7e7;
	transition: 250ms;
}

.dropdown-container > ul > li {
	padding-block: 0.55em;
}

.dropdown-container > ul > li > a {
	color: #222;
}

.dropdown-container > ul > li:hover {
	background-color: #565656;
	color: #42000ce5;
}

.navbar-item.activated .dropdown-container {
	display: block;
}

/* 화면 너비가 40rem 이상일 때 드롭다운 박스들의 스타일을 변경*/
@media (min-width: 40rem) {
	.dropdown-container > ul {
		transform: translate(0, -100%);
	}

	.navbar-item:hover > .dropdown-container {
		pointer-events: initial;
	}

	.navbar-item:hover > .dropdown-container > ul {
		transform: translate(0, 0);
	}
}

/* Icon Menu button */
.icon-button:hover {
	cursor: pointer;
}

/* footer CSS */
.footer {
	background-color: #1a1817ea;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 12px;
	text-align: center;
	line-height: 2;
	padding: 50px 0px 50px 0px !important;
}
