<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DAM-AH</title>
    <link rel="stylesheet" href="./nav.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <script src="./nav.js" type="module" defer></script>
  </head>
  <body>
    <!-- nav bar 관련 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="../../img/DAMAH-logo.PNG"
            alt="담아"
            style="width: 100px; height: 60px"
          />
        </a>
        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="#">SHOP</a>
          <a class="navbar-item" href="#">ABOUT</a>
          <a class="navbar-item" href="#">LOCATION</a>
          <a class="navbar-item" href="#">FOR BUSINESS</a>
        </div>

        <div class="navbar-wrapper">
          <div class="columns lines">
            <div class="column">
              <h3 class="navbar-heading">TEA-WARE</h3>
              <a class="navbar-item" href="#">티웨어</a>
            </div>
            <div class="column">
              <h3 class="navbar-heading">PICNIC-WARE</h3>
              <a class="navbar-item" href="#">텀블러 & 보틀</a>
            </div>
            <div class="column">
              <h3 class="navbar-heading">KITCHEN-WARE</h3>
              <a class="navbar-item" href="#">머그 & 컵</a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="icon-buttons">
              <span class="icon-button">
                <i class="fi fi-rr-envelope"></i>
              </span>
              <span class="icon-button">
                <i class="fi fi-rr-user"></i>
              </span>
              <span class="icon-button">
                <i class="fi fi-rr-shopping-cart"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
